.search-results {
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: auto;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding: 0.5rem;
  }
}
.custom-modal {
  background: #eefef5;
  padding: 2rem;
  border-radius: 12px;
  width: 40%;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  @media (max-width: 1280px) {
    width: 90%;
  }
}
.custom-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  padding: 0rem 1.8rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ffffff;
  }

  svg {
    color: #203767;
  }
  

  @media (max-width: 480px) {
    width: 40%;
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
    margin-bottom: 5px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 41, 55, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;

  svg {
    color: #9ca3af;
    transition: color 0.2s;

    &:hover {
      color: #374151;
    }
  }
}


.todo-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .form-title {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .icon {
      color: #2563eb;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      font-weight: 500;
      color: #374151;
    }

    input {
      padding: 0.75rem 1rem;
      border: 1px solid #d1d5db;
      border-radius: 8px;
      font-size: 1rem;

      &:focus {
        outline: none;
        border-color: #2563eb;
        box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
      }
    }
  }

  .form-content {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
