.on-going-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns on larger screens */
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;

  .todo-card {
    width: 100%;
  }


  // Responsive for tablets
  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr); /* Two columns on tablets */
  }

  // Responsive for phones
  @media (max-width: 600px) {
    grid-template-columns: 1fr; /* One column on phones */
    padding: 1rem; /* Reduce padding for phones */
  }
}

.todo-form {
  /* You can add some specific form styles here if needed */
  margin-bottom: 2rem;
}

