
$primary-color: #7f26ed;
$primary-color-hover: #eb9225;
$dark-text: #1c1e21;
$gray-text: #6b7280;
$input-border: #e5e7eb;
$input-focus-border: #3b82f6;
$line-color: #e5e7eb;
$button-padding: 0.85rem;
$button-radius: 8px;
$input-radius: 8px;
$background-color: #f8fafc;
$text-color: #1c1e21;
$border-color: #e2e8f0;
